.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%; 
    max-width: 250px; 
    height: 180px; 
    object-fit: contain; 
    background-color: #f9f9f9; 
    border: 1px solid #eee; 
    border-radius: 6px;
    margin-bottom: 15px; 
    padding: 5px; 
}

.product-title {
    font-size: 1.4em;
    color: #333;
    margin: 10px 0;
    line-height: 1.2; 
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
    min-height: 40px; 
    max-height: 60px; 
    overflow: hidden; 
    display: -webkit-box; 

}

.product-precio {
    font-size: 1.3em; 
    font-weight: bold;
    color: #007bff;
    margin-top: auto; 
    margin-bottom: 10px;
}