.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    padding: 20px 10px; 
    margin: 0 auto; 
    max-width: 1200px; 
    background-color: #f4f4f4; 
    border-radius: 10px;
}

.product-list-container .product-item {
    margin: 15px; 
}

@media (max-width: 600px) {
    .product-list-container {
        padding: 10px 5px;
    }
    
    .product-list-container .product-item {
        width: 90%; 
        max-width: 350px;
        margin: 10px auto; 
    }
}
